/*
// your custom includes starts here
.dropdown-menu-dark,
.dropdown-menu-dark .dropdown-menu {
  color: #F3EED9 !important;
  background-color: #333333;
}
!* links *!
.dropdown-menu-dark a {
  color: darken(#F3EED9, 20%) !important;
}
.dropdown-menu-dark a.dropdown-item:hover,
.dropdown-menu-dark a.dropdown-item.active,
.dropdown-menu-dark .dropdown-item:hover>a,
.dropdown-menu-dark .dropdown-item.active>a,
.dropdown-menu-dark .dropdown-item>a.active,
.dropdown-menu-dark a:hover {
  color: #F3EED9 !important;
}

/* cambiato il colore del bordo */
/*
.border-primary{
  border: $primary-theme-color 1px solid;
}*/
/* freccia destra carosello film */
.swiper-button-redcarper-dx{
  font-size: 50px;
  color: $primary-theme-color!important;
  right: -10px!important;
}
.swiper-button-redcarper-sx{
  font-size: 50px;
  color: $primary-theme-color!important;
  left: -10px!important;
}

p.a-none-decoration-blold a button{
  -webkit-text-stroke-width: 0;
}

p.a-none-decoration-blold a:hover button {
  text-decoration: none;
  -webkit-text-stroke-width: 0;
}
p.a-none-decoration-blold a {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(187, 49, 50, 0.8);
}

p.a-none-decoration-blold a:hover {
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(126, 36, 34, 0.8);
}

.fs--90 {
  font-size: 90px !important;
}

.nav-pills{
  justify-content: space-between;
}

.nav-pills .nav-link:not(.active) {
  background-color: rgb(235, 179, 180);
  border-color: rgb(235, 179, 180);
  text-align: center;
}

.nav-pills .nav-link.active {
  color: #f3eed9;
  background-color: #bb3132;
  border-color: #bb3132;
  text-align: center;
}

.bg-secondary-palette {
  background-color: $yiq-text-dark;
}

.h--275{
  height: 275px;
}

.text-ter-palette {
  color: $yiq-text-dark !important;
}

.text-quar-palette{
  color: $footer-dark-color !important;
}

.text-secondary-palette {
  color: $yiq-text-light !important;
}

.a-text-secondary-palette {
  color: $yiq-text-light !important;
}

.a-text-secondary-palette:hover {
  color: adjust-color($yiq-text-dark, $lightness: +15%) !important;
}

.text-stroke-primary{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(126, 36, 34, 0.8);
}

.font-raleway {
  font-family:'Raleway',Arial,Helvetica,sans-serif !important;
}

.font-weight-100 {
  font-weight: 100 !important;
}
.bg-c-6f3{
  background-color: #fff6f3;
}
.linea-titolo{
  color: #f3eed9;
  background-color: #BB3132;;
}
.text-truncate-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-truncate-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-truncate-4{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.text-truncate-5{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.h--75{
  height:75px!important
}
.h--128{
  height:128px!important
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
  font-size: 21px;
}
.pr--27{
  padding-right: 27px;
}
.text-primary-hover:hover{
  color: $primary-theme-color;
}
/* manipolazione del colore del calendario */
.webkit-calendar-picker-indicator::-webkit-calendar-picker-indicator {
  filter: invert(65%);
}
.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rounded-top-video-slidser {
  border-top-left-radius:.50rem!important;
  border-top-right-radius:.50rem!important;
}
.border-title-lines {
  height: 2px!important;
  background-color: #BB3132!important;
  border-bottom: solid 1px #a1a1a1!important;
}
.border-2{
  border-width: 2px;
}
.star_rating {
  font-size: 40px;
  display: inline-flex;
  cursor: pointer;
}
.p-input{
  padding: .78rem 1rem;
}
@media (min-width: 443px) {
  .w--382 {
    width: 382px !important;
  }

  .h--565 {
    height: 565px !important;
  }

  /*.h-75{
    height: 75%;
  }*/
}
.fs--68perc{
  font-size: 68%;
}
.h--55{
  height: 55px;
}
.h--41{
  height: 41px;
}
.reset-hover:hover{
  //color: $primary-theme-color;
  background-color: #ebb3b4;
  border-color: #ebb3b4;
}
.w--147{
  width: 147px !important;
}
.bg-color-verde{
  background-color:#8cb48e;
}
.bg-color-giallo{
  background-color: #E9F00C;
}
.bg-color-grigio{
  background-color: #868686;
}
.cart-item p{
  color: black;
}
.cart-title-26-34{
  font-size: 26px;
  height: 34px;
}
.cart-pd-8-16-16-16{
  padding: 8px 16px 16px 16px;
}
.mt--16{
  margin-top: 16px;
}
.min-w-120{
  min-width: 120px;
}
.min-w-270{
  min-width: 270px;
}
.h--105{
  height: 105px;
}
.navbar-dark .navbar-nav .nav-link {
  color: hsla(0,0%,100%,.9);
}
.bg-position-y-90-imp{
  background-position-y: 90%!important;
}
.w--45{
  width: 45px;
}
.h--45{
  height: 45px;
}

.invalidato{
  border-color: #f64e60;
}


.invalidato:focus{
  border-color: #f64e60;
  box-shadow: 0 0 0 0.2rem rgba(246, 78,96, .25);
}
