/*
// your custom includes starts here
.dropdown-menu-dark,
.dropdown-menu-dark .dropdown-menu {
  color: #F3EED9 !important;
  background-color: #333333;
}
!* links *!
.dropdown-menu-dark a {
  color: darken(#F3EED9, 20%) !important;
}
.dropdown-menu-dark a.dropdown-item:hover,
.dropdown-menu-dark a.dropdown-item.active,
.dropdown-menu-dark .dropdown-item:hover>a,
.dropdown-menu-dark .dropdown-item.active>a,
.dropdown-menu-dark .dropdown-item>a.active,
.dropdown-menu-dark a:hover {
  color: #F3EED9 !important;
}

/* cambiato il colore del bordo */
/*
.border-primary{
  border: $primary-theme-color 1px solid;
}*/
/* freccia destra carosello film */
.swiper-button-redcarper-dx{
  font-size: 50px;
  color: $primary-theme-color!important;
  right: -10px!important;
}
.swiper-button-redcarper-sx{
  font-size: 50px;
  color: $primary-theme-color!important;
  left: -10px!important;
}

p.a-none-decoration-blold a button{
  -webkit-text-stroke-width: 0;
}

p.a-none-decoration-blold a:hover button {
  text-decoration: none;
  -webkit-text-stroke-width: 0;
}
p.a-none-decoration-blold a {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(187, 49, 50, 0.8);
}

p.a-none-decoration-blold a:hover {
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(126, 36, 34, 0.8);
}

.fs--90 {
  font-size: 90px !important;
}

.nav-pills{
  justify-content: space-between;
}

.nav-pills .nav-link:not(.active) {
  background-color: rgb(235, 179, 180);
  border-color: rgb(235, 179, 180);
  text-align: center;
}

.nav-pills .nav-link.active {
  color: #f3eed9;
  background-color: #bb3132;
  border-color: #bb3132;
  text-align: center;
}

.bg-secondary-palette {
  background-color: $yiq-text-dark;
}

.h--275{
  height: 275px;
}

.text-ter-palette {
  color: $yiq-text-dark !important;
}

.text-quar-palette{
  color: $footer-dark-color !important;
}

.text-secondary-palette {
  color: $yiq-text-light !important;
}

.a-text-secondary-palette {
  color: $yiq-text-light !important;
}

.a-text-secondary-palette:hover {
  color: adjust-color($yiq-text-dark, $lightness: +15%) !important;
}

.text-stroke-primary{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(126, 36, 34, 0.8);
}

.font-raleway {
  font-family:'Raleway',Arial,Helvetica,sans-serif !important;
}

.font-weight-100 {
  font-weight: 100 !important;
}
.bg-c-6f3{
  background-color: #fff6f3;
}
.linea-titolo{
  color: #f3eed9;
  background-color: #BB3132;;
}
.text-truncate-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-truncate-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-truncate-4{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.text-truncate-5{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.h--75{
  height:75px!important
}
.h--128{
  height:128px!important
}